{
	"presets": [
		"react",
		"env",
		"flow"
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
	],
	"env": {
		"development": {
			"plugins": [
				"flow-react-proptypes"
			]
		},
		"test": {
			"plugins": [
				"transform-es2015-modules-commonjs"
			]
		}
	}
}
